<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/header.ejs') %>

    <title>Home</title>
  </head>
  <body>
    <%- include('partials/nav.ejs') %>
    <main id="swup" class="transtion-fade">
      <h1>This is The Blog Section</h1>
    </main>
  </body>
</html>
